body {
    background-color: #000;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Biar gak bisa di-scroll */
}

.container {
    text-align: center;
    border: 3px solid #ff0000;
    padding: 20px;
    width: 85%;
}

#timer {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 0 0 15px red;
}

.warning {
    color: yellow;
    font-size: 0.7rem;
    animation: kedip 0.5s infinite;
}

@keyframes kedip {
    50% { opacity: 0; }
}
